@using Learn.Core.Convertors;
@model Tuple<List<ProductComment>, int>
@{
    Layout = null;
}
<input type="hidden" value="@ViewBag.pageid" />
@foreach (var item in Model.Item1)
{
    <div class="comment-wrap">
        <!-- USER AVATAR -->
        <a href="user-profile.html">
            <figure class="user-avatar medium">
                <img src="/UserAvatar/@item.User.UserAvatar" alt="@item.User.UserName">
            </figure>
        </a>
        <!-- /USER AVATAR -->
        <div class="comment">


            <!-- PIN -->
            <p class="text-header">دیدگاه یک مشتری</p>									<!-- /PIN -->
            <p class="timestamp">@item.CreateDate.ToShamsi()</p>

            <p> @item.Comment</p>
        </div>
    </div>
    <hr class="line-separator">



}

<!-- /LINE SEPARATOR -->
<!-- PAGER -->
<div class="pager primary">
    @for (int i = 1; i <= Model.Item2; i++)
    {
        <div class="pager-item  @((ViewBag.pageid==i)?"active":"")"><a class="page-link " onclick="pageComment(@i)">@i</a></div>
    }
</div>


